@font-face {
    font-family: SFProDisplay;
    src: url(../fonts/SF-Pro-Display-Bold.otf);
}

@font-face {
    font-family: SFProDisplay-light;
    src: url(../fonts/SF-Pro-Display-Light.otf);
}

span {
    color: #1F2135;
    font-family: SFProDisplay;
}

li {
    color: #1F2135;
    font-family: SFProDisplay;
}

h2 {
    color: #1F2135;
    font-family: SFProDisplay;
}

span.text.t-upper.fs-normal.d-none.d-md-inline-block {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.93px;
    line-height: 14px;
    text-align: left;
}

span.icon.icon-menu.icon-menu-a {
    width: 25px;
}

li.nav-item.t-upper.fs-normal {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.93px;
    line-height: 14px;
    text-align: left;
}

li.social-img {
    width: 14.79px;
    height: 14.51px;
    margin-bottom: 10px;
}

li.social-img img {
    width: 100%;
}

li.social-wa {
    width: 33.16px;
    height: 35.16px;
    background-color: #57BB63;
    padding-left: 5px;
    border-radius: 50%;
}

li.social-wa img {
    width: 80%;
    height: auto;
}

nav.navbar.navbar-top {
    background-color: #fff;
}

.header-home {
    padding-top: 0rem;
    padding-bottom: 5rem;
    background-image: url(../img/mobile-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

@media (max-width: 1366px) {

    .section-header .h-content {
        padding-left: 0rem;
        right: 5.9rem;
    }

    .section-content {
        position: relative;
        z-index: 1;
        width: 85%;
        min-height: 100%;
    }
 
    .brand-title {
        
        font-family: SFProDisplay;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.93px;
        line-height: 14px;
        text-align: left;
        text-transform: uppercase;
    }

    .header-home {
        padding-top: 0rem;
        padding-bottom: 5rem;
        background-image: url(../img/laptop-1024.png);
        background-repeat: no-repeat;
        background-size: 90%;
    }

    .header-home .h-title-big {
        font-size: 5.113rem;
        text-transform: uppercase;
        line-height: 1;
        text-align: left;
        padding-left: 3rem;
        width: 800px;
        height: 15rem;
    }
    
    .align-y-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0px;
        left: 0px;
        right: 0px;
        padding-bottom: 0px;
        width: 65rem;
        padding-top: 100px;
    }
    
    .width-large {
        max-width: 65rem;
        width: 100%;
    }

    .width-medium {
        max-width: 40rem;
        width: 100%;
    }
    
    img.straight-border {
        margin-left: -80vh;
        margin-top: -25vh;
    }
    
    h2.h-title.font-title.sr-up-1 {
        font-family: sfprodisplay;
        font-size: 80px;
        letter-spacing: 3.22px;
        line-height: 96px;
        text-align: left;
        text-transform: uppercase;
    }
    
    .bg-level-1 {
        background: #fff;
        padding-top: 135px;
        padding-bottom: 150px;
    }
    
    .section-cover {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../img/indonesia2.png);
        background-size: 100%;
        top: 25%;
        bottom: 100px;
    }
    
    span.text.text-uppercase-below-title {
        color: #E71822;
        font-family: SFProDisplay;
        font-size: 13px;
        font-weight: 900;
        letter-spacing: 1.4px;
        line-height: 16px;
        text-align: left;
    }
    
    .content-text.sr-up-2 {
        color: #1F2135;
        font-family: SFProDisplay-light;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 1.4px;
        line-height: 29px;
        width: 801px;
        text-align: left;
    }
    
    span.text.text-uppercase {
        color: #E71822;
        font-family: SFProDisplay;
        font-size: 13px;
        font-weight: 900;
        letter-spacing: 1.4px;
        line-height: 16px;
        text-align: left;
    }
    
    .flex-container {
        padding: 0;
        margin: 0;
        list-style: none;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        justify-content: left;
        width: 60rem;
    }
    
    .flex-item {
        grid-row: 7;
        background: transparent;
        width: 130px;
        margin-top: 5px;
        line-height: 65px;
        color: white;
        font-weight: bold;
        font-size: 3em;
        text-align: center;
    }
    
    .section-page img {
        width: 75%;
    }
    
    h2.s-title.font-title {
        color: #FFFFFF;
        font-family: SFProDisplay;
        font-size: 80px;
        font-weight: 700;
        letter-spacing: 6.22px;
        line-height: 96px;
        text-align: left;
        text-transform: uppercase;
    }
    
    .slide-text {
        color: #FFFFFF;
        font-family: SFProDisplay-light;
        font-size: 36px;
        font-weight: 300;
        letter-spacing: 6.22px;
        line-height: 43px;
        text-align: left;
    }
    
    .slide-b .content-bottom {
        align-items: start;
        left: 5rem;
    }
}

@media (max-width: 1280px) {
 
    .brand-title {
        
        font-family: SFProDisplay;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.93px;
        line-height: 14px;
        text-align: left;
        text-transform: uppercase;
    }

    .header-home {
        padding-top: 0rem;
        padding-bottom: 5rem;
        background-image: url(../img/laptop-1024.png);
        background-repeat: no-repeat;
        background-size: 90%;
    }

    .header-home .h-title-big {
        font-size: 5.113rem;
        text-transform: uppercase;
        line-height: 1;
        text-align: left;
        padding-left: 3rem;
        width: 800px;
        height: 15rem;
    }
    
    .align-y-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0px;
        left: 0px;
        right: 0px;
        padding-bottom: 0px;
        width: 65rem;
        padding-top: 100px;
    }
    
    .width-large {
        max-width: 65rem;
        width: 100%;
    }

    .width-medium {
        max-width: 47rem;
        width: 100%;
    }
    
    img.straight-border {
        margin-left: -80vh;
        margin-top: -25vh;
    }
    
    h2.h-title.font-title.sr-up-1 {
        font-family: sfprodisplay;
        font-size: 80px;
        letter-spacing: 3.22px;
        line-height: 96px;
        text-align: left;
        text-transform: uppercase;
    }
    
    .bg-level-1 {
        background: #fff;
        padding-top: 135px;
        padding-bottom: 150px;
    }
    
    .section-cover {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../img/indonesia2.png);
        background-size: 100%;
        top: 25%;
        bottom: 100px;
    }
    
    span.text.text-uppercase-below-title {
        color: #E71822;
        font-family: SFProDisplay;
        font-size: 13px;
        font-weight: 900;
        letter-spacing: 1.4px;
        line-height: 16px;
        text-align: left;
    }
    
    .content-text.sr-up-2 {
        color: #1F2135;
        font-family: SFProDisplay-light;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 1.4px;
        line-height: 29px;
        width: 801px;
        text-align: left;
    }
    
    span.text.text-uppercase {
        color: #E71822;
        font-family: SFProDisplay;
        font-size: 13px;
        font-weight: 900;
        letter-spacing: 1.4px;
        line-height: 16px;
        text-align: left;
    }
    
    .flex-container {
        padding: 0;
        margin: 0;
        list-style: none;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        justify-content: left;
    }
    
    .flex-item {
        grid-row: 7;
        background: transparent;
        width: 130px;
        margin-top: 5px;
        line-height: 65px;
        color: white;
        font-weight: bold;
        font-size: 3em;
        text-align: center;
    }
    
    .section-page img {
        width: 75%;
    }
    
    h2.s-title.font-title {
        color: #FFFFFF;
        font-family: SFProDisplay;
        font-size: 80px;
        font-weight: 700;
        letter-spacing: 6.22px;
        line-height: 96px;
        text-align: left;
        text-transform: uppercase;
    }
    
    .slide-text {
        color: #FFFFFF;
        font-family: SFProDisplay-light;
        font-size: 36px;
        font-weight: 300;
        letter-spacing: 6.22px;
        line-height: 43px;
        text-align: left;
    }
    
    .slide-b .content-bottom {
        align-items: start;
    }
}

@media (max-width: 1024px) {
 
    .brand-title {
        
        font-family: SFProDisplay;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.93px;
        line-height: 14px;
        text-align: left;
        text-transform: uppercase;
    }

    .header-home {
        padding-top: 0rem;
        padding-bottom: 5rem;
        background-image: url(../img/laptop-1024.png);
        background-repeat: no-repeat;
    }

    .header-home .h-title-big {
        font-size: 4.113rem;
        text-transform: uppercase;
        line-height: 1;
        text-align: left;
        padding-left: 1rem;
        width: 800px;
        height: 12rem;
    }
    
    .align-y-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0px;
        left: 0px;
        right: 0px;
        padding-bottom: 0px;
        width: 65rem;
        padding-top: 100px;
    }
    
    .width-large {
        max-width: 65rem;
        width: 100%;
    }

    .width-medium {
        max-width: 47rem;
        width: 100%;
    }
    
    img.straight-border {
        margin-left: -80vh;
        margin-top: -25vh;
    }
    
    h2.h-title.font-title.sr-up-1 {
        font-size: 80px;
        letter-spacing: 3.22px;
        line-height: 96px;
        text-align: left;
        text-transform: uppercase;
    }
    
    .bg-level-1 {
        background: #fff;
        padding-top: 135px;
        padding-bottom: 150px;
    }
    
    .section-cover {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../img/indonesia2.png);
        background-size: 100%;
        top: 25%;
        bottom: 100px;
    }
    
    span.text.text-uppercase-below-title {
        color: #E71822;
        font-family: SFProDisplay;
        font-size: 13px;
        font-weight: 900;
        letter-spacing: 1.4px;
        line-height: 16px;
        text-align: left;
    }
    
    .content-text.sr-up-2 {
        color: #1F2135;
        font-family: SFProDisplay-light;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 1.4px;
        line-height: 29px;
        width: 801px;
        text-align: left;
    }
    
    span.text.text-uppercase {
        color: #E71822;
        font-family: SFProDisplay;
        font-size: 13px;
        font-weight: 900;
        letter-spacing: 1.4px;
        line-height: 16px;
        text-align: left;
    }
    
    .flex-container {
        padding: 0;
        margin: 0;
        list-style: none;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        justify-content: left;
    }
    
    .flex-item {
        grid-row: 7;
        background: transparent;
        width: 130px;
        margin-top: 5px;
        line-height: 65px;
        color: white;
        font-weight: bold;
        font-size: 3em;
        text-align: center;
    }
    
    .section-page img {
        width: 75%;
    }
    
    h2.s-title.font-title {
        color: #FFFFFF;
        font-family: SFProDisplay;
        font-size: 80px;
        font-weight: 700;
        letter-spacing: 6.22px;
        line-height: 96px;
        text-align: left;
        text-transform: uppercase;
    }
    
    .slide-text {
        color: #FFFFFF;
        font-family: SFProDisplay-light;
        font-size: 36px;
        font-weight: 300;
        letter-spacing: 6.22px;
        line-height: 43px;
        text-align: left;
    }
    
    .slide-b .content-bottom {
        align-items: start;
    }
}

@media (max-width: 768px) {

    .navbar-top .navbar-brand img {
        height: 50px;
    }

    span.text-brand {
        display: none;
    }

    .section {
        padding-left: 4rem;
        padding-right: 2rem;
    }

    span.logo {
        width: 85px;
        height: 86px;
    }

    .brand-title {
        visibility: hidden;
    }

    .width-medium {
        max-width: 55rem;
        width: 100%;
    }

    span.width-medium {
        font-size: 90px;
        font-weight: 700;
        letter-spacing: 7px;
        line-height: 108px;
        text-align: left;
    }

    .navbar-top {
        position: relative;
        z-index: 10;
        padding: 16px;
        background-color: #fff;
    }
    
    .header-home {
        padding-top: 0rem;
        padding-bottom: 5rem;
        background-image: url(../img/mobile-bg.png);
        background-repeat: no-repeat;
    }

    .header-home img{
        width: 100%;
        height: 100%;
    }

    .align-y-center {
        display: contents;
        justify-content: center;
        width: 100%;
    }

    span.width-medium {
        font-size: 60px;
        font-weight: 700;
        letter-spacing: -2px;
        line-height: 65px;
        text-align: left;
    }

    .header-home .h-title-big {
        font-size: 4.113rem;
        text-transform: uppercase;
        line-height: 1;
        padding-left: 5rem;
        width: 100%;
        height: auto;
    }
   
    span.text.t-upper.fs-normal.d-none.d-md-inline-block {
        visibility: hidden;
    }

    .content-text.sr-up-2 {
        color: #1E2134;
        font-family: SFProDisplay-light;
        font-size: 19px;
        font-weight: 300;
        letter-spacing: 1.97px;
        line-height: 29px;
        width: 675.06px;
        text-align: left;
        margin-bottom: 1rem;
    }

    h2.h-title.font-title.sr-up-1 {
        font-family: SFProDisplay;
        font-size: 60px;
        font-weight: 700;
        letter-spacing: 1.22px;
        line-height: 60px;
        text-align: left;
        text-transform: uppercase;
    }

    .section-cover {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../img/indo-768.png);
        background-size: 100%;
        bottom: 100px;
        background-repeat: no-repeat;
    }

    .btn.btn-outline-b.bd-thick {
        cursor: pointer;
        font-size: 1.2rem;
        border: 5px solid #E60B16;
    }

    .section-header .h-content {
        margin-bottom: 1rem;
        position: relative;
    }

    .flex-container {
        margin-bottom: 2rem;
    }

    .btn.btn-outline-a.bd-thick {
        width: 130px;
        text-align: left;
        border: 4px solid #fff;
        padding: 10px;
    }

    .btn.btn-outline-a.bd-thick span {
        color: #FFFFFF;
        font-family: SFProDisplay;
        font-size: 15px;
        font-weight: 900;
        letter-spacing: 2.58px;
        line-height: 29px;
    }

    .slide-b .flex-col {
        display: flex;
        flex-direction: column;
        padding-left: 15%;
    }

    .slide-text {
        color: #FFFFFF;
        font-family: SFProDisplay-light;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 6.22px;
        line-height: 25px;
        text-align: left;
        margin-bottom: 1rem;
    }

    .s-text p{
        margin-bottom: 2rem;
    }
}

@media (max-width: 425px) {

    span.text-brand {
        display: none;
    }

    .bg-level-1 {
        background: #fff;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .pb-3, .py-3 {
        padding-bottom: 4rem!important;
    }

    .navbar-top .menu-toggler {
        padding-left: 0px;
        padding-right: 0px;
    }

    .navbar-top .navbar-brand .logo {
        margin-right: 0px;
    }

    .navbar-top {
        position: relative;
        z-index: 10;
        background-color: #fff;
    }

    .header-home {
        padding-top: 0rem;
        padding-bottom: 5rem;
        background-image: url(../img/mobile-425.png);
        background-repeat: no-repeat;
    }

    .header-home .h-title-big {
        font-size: 4.113rem;
        text-transform: uppercase;
        line-height: 1;
        padding-left: 0;
        width: 100%;
        height: auto;
    }

    h2.h-title.font-title.sr-up-1 {
        font-family: SFProDisplay;
        font-size: 45px;
        font-weight: 700;
        letter-spacing: 1.22px;
        line-height: 60px;
        text-align: left;
        text-transform: uppercase;
    }

    .content-text.sr-up-2 {
        color: #1E2134;
        font-family: SFProDisplay-light;
        font-size: 15px;
        font-weight: 300;
        letter-spacing: 1.97px;
        line-height: 29px;
        width: 300px;
        text-align: left;
        text-align: justify;
        margin-bottom: 1rem;
    }

    span.text.text-uppercase {
        color: #E71822;
        font-family: SFProDisplay;
        font-size: 10px;
        font-weight: 900;
        letter-spacing: 1.4px;
        line-height: 16px;
        text-align: left;
    }

    .btn.btn-outline-b.bd-thick {
        cursor: pointer;
        font-size: 0.2rem;
        border: 5px solid #E60B16;
    }

    .section-cover {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../img/indo-425.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .flex-item {
        grid-row: 7;
        background: transparent;
        width: 110px;
        margin-top: -5px;
        line-height: 65px;
        font-weight: bold;
        font-size: 3em;
        text-align: center;
    }

    .flex-item img{
        width: 65%;
    }

    .slide-b .flex-col {
        display: flex;
        flex-direction: column;
        padding-left: 10%;
    }

    h2.s-title.font-title {
        color: #FFFFFF;
        font-family: SFProDisplay;
        font-size: 50px;
        font-weight: 700;
        letter-spacing: 2.22px;
        line-height: 50px;
        text-align: left;
        text-transform: uppercase;
    }

    .slide-text {
        color: #FFFFFF;
        font-family: SFProDisplay-light;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 6.22px;
        line-height: 25px;
        text-align: left;
    }

    .btn.btn-outline-a.bd-thick {
        width: 103px;
        text-align: left;
        border: 4px solid #fff;
        padding: 5px;
    }

    .btn.btn-outline-a.bd-thick span {
        color: #FFFFFF;
        font-family: SFProDisplay;
        font-size: 10px;
        font-weight: 900;
        letter-spacing: 2.58px;
        line-height: 29px;
    }

    .navbar-top .navbar-brand img {
        height: 40px;
    }

    .slide-text {
        color: #FFFFFF;
        font-family: SFProDisplay-light;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 6.22px;
        line-height: 25px;
        text-align: left;
        margin-bottom: 1rem;
    }

    .s-text p{
        margin-bottom: 2rem;
    }

}

@media (max-width: 375px) {
    .section {
        padding-left: 2.2rem;
        padding-right: 2rem;
    }

    .header-home {
        padding-top: 0rem;
        padding-bottom: 5rem;
        background-image: url(../img/mobile-375.png);
        background-repeat: no-repeat;
        padding-left: 10%;
    }

    .section-cover {
        top: 5%;
    }

    .navbar-top .navbar-brand img {
        height: 35px;
    }

    span.text-brand {
        display: none;
    }

    .slide-text {
        color: #FFFFFF;
        font-family: SFProDisplay-light;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 6.22px;
        line-height: 25px;
        text-align: left;
        margin-bottom: 1rem;
    }

    .s-text p{
        margin-bottom: 2rem;
    }
}

@media (max-width: 320px) {
    .header-home {
        padding-top: 0rem;
        padding-bottom: 5rem;
        background-image: url(../img/mobile-320.png);
        background-repeat: no-repeat;
        padding-left: 10%;
    }

    span.width-medium {
        font-size: 50px;
        font-weight: 700;
        letter-spacing: -1px;
        line-height: 50px;
        text-align: left;
    }

    .section-cover {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../img/indo-320.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    h2.h-title.font-title.sr-up-1 {
        font-family: SFProDisplay;
        font-size: 35px;
        font-weight: 700;
        letter-spacing: 1.22px;
        line-height: 40px;
        text-align: left;
        text-transform: uppercase;
    }

    .btn.btn-outline-b.bd-thick {
        cursor: pointer;
        font-size: 0.2rem;
        border: 5px solid #E60B16;
    }

    .content-text.sr-up-2 {
        color: #1E2134;
        font-family: SFProDisplay-light;
        font-size: 10px;
        letter-spacing: 0.5px;
        line-height: 30px;
        width: 300px;
        text-align: left;
        text-align: justify;
        margin-bottom: 1rem;
        padding-right: 55px;
    }

    .flex-item {
        grid-row: 7;
        background: transparent;
        width: 135px;
        margin-top: -5px;
        line-height: 65px;
        font-weight: bold;
        font-size: 3em;
        text-align: center;
    }

    .slide-text {
        color: #FFFFFF;
        font-family: SFProDisplay-light;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 6.22px;
        line-height: 25px;
        text-align: left;
        margin-bottom: 1rem;
    }

    .s-text p{
        margin-bottom: 2rem;
    }
}

.section {
    padding-left: 4rem;
    padding-right: 4rem;
}