@font-face {
    font-family: SFProDisplay;
    src: url(../fonts/SF-Pro-Display-Bold.otf);
}

@font-face {
    font-family: SFProDisplay-light;
    src: url(../fonts/SF-Pro-Display-Light.otf);
}

.media-body {
    cursor: pointer;
}

.media-body img {
    width: 50%;
}

.media-body h4 {
    font-size: 15px;
}

.media-feature {
    position: relative;
    display: block;
    color: currentColor;
    text-align: center;
}

.gallery__item gallery__item--1 {
    border: 5rem solid red;
}

video.video {
    width: 100%;
    height: auto;
}

.navbar-sidebar {
    top: 50%;
}

.widget {
    margin: 5px;
    color: #E71822;
}

.widget ul li {
    font-family: SFProDisplay-light;
    display: block;
    width: 100%;
    padding-right: 2.5rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    font-size: 15px;
}

.wrap3 {
    width: 100%;
    padding: 0px 5rem 5rem 1rem;
    height: 300px;
}

span {
    color: #1F2135;
    font-family: SFProDisplay;
    font-size: 10px;
}

a {
    color: #1F2135;
}

li {
    color: #1F2135;
    font-family: SFProDisplay;
}

h2 {
    color: #1F2135;
    font-family: SFProDisplay;
}

h3 {
    color: #1F2135;
    font-family: SFProDisplay;
}

h4 {
    color: #1F2135;
    font-family: SFProDisplay;
}

span.text.t-upper.fs-normal.d-none.d-md-inline-block {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.93px;
    line-height: 14px;
    text-align: left;
}

span.icon.icon-menu.icon-menu-a {
    width: 25px;
}

li.nav-item.t-upper.fs-normal {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.93px;
    line-height: 14px;
    text-align: left;
}

li.social-img {
    width: 14.79px;
    height: 14.51px;
    margin-bottom: 10px;
}

li.social-img img {
    width: 100%;
}

li.social-wa {
    width: 33.16px;
    height: 35.16px;
    background-color: #57BB63;
    padding-left: 5px;
    border-radius: 50%;
}

li.social-wa img {
    width: 80%;
    height: auto;
}

nav.navbar.navbar-top {
    background-color: #fff;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -26rem;
    margin-left: -15px;
}

ul#menu-product-menu {
    padding-left: 0px;
}

ul#menu-support-menu {
    padding-left: 0px;
}

ul#menu-services-menu {
    padding-left: 0px;
}

ul#menu-ipeh-menus-1 {
    padding-left: 0px;
}

ul#menu-information-menu {
    padding-left: 0px;
}

ul#menu-w-enterprise {
    padding-left: 0px;
}

.header-home {
    padding-top: 0rem;
    padding-bottom: 5rem;
    background-image: url(../img/mobile-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
}

.section-cover {
    background-repeat: no-repeat;
}

.no-gutters>.col,
.no-gutters>[class*=col-] {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 10rem;
}

.content-text.sr-up-2 {
    color: #1F2135;
    font-family: SFProDisplay-light;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1.4px;
    line-height: 29px;
    text-align: justify;
    margin: auto;
}

span.sub {
    color: #1F2135;
    font-family: SFProDisplay;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 2.4px;
    line-height: 28px;
    width: 317px;
    text-align: justify;
}

.item-pricing-a .item-header::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    opacity: 0;
}

span.width-medium {
    text-transform: uppercase;
}

.item-price.font-title {
    text-align: justify;
}

figure {
    margin: 0rem -3rem 1.5rem 0rem;
    text-align: center;
}

.slide-b.fullscreen-slide {
    min-height: 115vh;
}

.item-pricing-a .item-header h3 {
    font-size: 2.5rem;
    text-align: center;
}

figure.gallery__item img {
    width: 80%;
    border-radius: 5%;
}

.gallery__item img {
    color: #E71822;
    opacity: 0.5;
}

.gallery__item img:hover {
    opacity: 1;
    cursor: pointer;
}

figure.gallery__item-produk img {
    width: 60%;
}

.section-cover {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.section-cover-contact {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/img/team-whole.png);
    background-size: 100%;
    background-repeat: no-repeat;
}


@media (min-width: 320px) {
    .section-header .h-content-family {
        margin-bottom: 2rem;
        margin-left: 1rem;
    }

    .no-gutters>.col,
    .no-gutters>[class*=col-] {
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 0;
    }

    .bg-level-1 {
        background: #ffffff;
    }

    .flex-container {
        padding: 0;
        margin: 0;
        list-style: none;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        justify-content: left;
        padding-bottom: 15px;
        cursor: pointer;
    }

    .slide-text {
        color: #FFFFFF;
        font-family: SFProDisplay-light;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 6.22px;
        line-height: 25px;
        text-align: left;
        margin-bottom: 1rem;
    }

    h2.s-title.font-title {
        color: #FFFFFF;
        font-family: SFProDisplay;
        font-size: 50px;
        font-weight: 700;
        letter-spacing: 2.22px;
        line-height: 50px;
        text-align: left;
        text-transform: uppercase;
    }

    .btn.btn-outline-a.bd-thick {
        width: 130px;
        text-align: left;
        border: 4px solid #fff;
        padding: 10px;
    }

    .btn.btn-outline-a.bd-thick span {
        color: #FFFFFF;
        font-family: SFProDisplay;
        font-size: 15px;
        font-weight: 900;
        letter-spacing: 2.58px;
        line-height: 29px;
    }

    .section-header .h-content {
        transform: translate(0%, -10%);
        margin-bottom: 1rem;
        position: relative;
        width: auto;
        max-width: 85%;
    }

    .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: auto;
        margin-left: auto;
    }

    span.text-brand {
        display: none;
    }

    .header-home {
        padding-top: 0rem;
        padding-bottom: 5rem;
        background-repeat: no-repeat;
        padding-left: 10%;
    }

    span.width-medium {
        font-size: 50px;
        font-weight: 700;
        letter-spacing: -1px;
        line-height: 50px;
        text-align: left;
    }

    .section-cover {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    h2.h-title.font-title.sr-up-1 {
        font-family: SFProDisplay;
        font-size: 35px;
        font-weight: 700;
        letter-spacing: 1.22px;
        line-height: 40px;
        text-align: left;
        text-transform: uppercase;
        opacity: 1;
    }

    .btn.btn-outline-b.bd-thick {
        cursor: pointer;
        font-size: 0.2rem;
        border: 5px solid #E60B16;
        margin-left: 1rem;
    }

    .text-uppercase-below-title {
        font-size: 1rem;
        text-transform: uppercase !important;
        color: #E71822;
        font-weight: bolder;
    }

    .content-text.sr-up-2 {
        color: #1E2134;
        font-family: SFProDisplay-light;
        font-size: 15px;
        letter-spacing: 0.5px;

        line-height: 30px;
        width: auto;
        max-width: 85%;
        text-align: left;
        text-align: justify;
        margin-bottom: 1rem;
    }

    .flex-item {
        grid-row: 7;
        background: transparent;
        width: 85px;
        margin-top: -5px;
        line-height: 65px;
        font-weight: bold;
        font-size: 3em;
        text-align: center;
    }

    .flex-item img {
        width: 65%;
    }

    .s-text p {
        margin-bottom: 2rem;
    }

    .btn.btn-outline-b.bd-thick {
        transform: translate(0%, -10%);
    }

    .swiper-slide.slide-item.swiper-slide-active {
        width: 100%;
    }

    .slide-b {
        height: 15rem;
    }
}

@media (min-width: 375px) {
    span.width-medium {
        font-size: 55px;
        font-weight: 700;
        letter-spacing: 2px;
        line-height: 50px;
        text-align: left;
    }

    .section-header .h-content {
        transform: translate(-10%, -10%);
        max-width: 90%;
    }

    .btn.btn-outline-b.bd-thick {
        transform: translate(5%, -10%);
    }
}

@media (min-width: 425px) {
    .section-header .h-content-family {
        margin-bottom: 2rem;
        margin-left: 3rem;
    }

    .header-home .h-title {
        font-size: 3.5rem;
        line-height: 1.1;
        margin-top: 3rem;
        margin-bottom: 3rem;
        margin-left: 3rem;
    }

    .section-header .h-content {
        margin-bottom: 1rem;
        position: relative;
    }

    .btn.btn-outline-b.bd-thick {
        margin-left: 3rem;
    }

    .content-text.sr-up-2 {
        width: auto;
        max-width: 75%;
        margin-bottom: 1rem;
    }

    .flex-container {
        margin-left: 2rem;
    }

    .swiper-slide-active .slide-b.slide-anim .s-title {
        margin-left: 5rem;
    }

    .s-text p {
        margin-left: 5rem;
    }

    .btn.btn-outline-a.bd-thick {
        margin-left: 5rem;
    }

    .btn.btn-outline-b.bd-thick {
        transform: translate(0%, -10%);
    }
}

@media (min-width: 500px) {
    .section-header .h-content-family {
        margin-bottom: 2rem;
        margin-left: 3.5rem;
    }

    span.width-medium {
        font-size: 69px;
        text-align: left;
    }

    .header-home .h-title {
        margin-right: 3rem;
        margin-left: 3rem;
    }

    .section-header .h-content {
        transform: translate(-20%, -10%);
    }

    .btn.btn-outline-b.bd-thick {
        margin-left: 5rem;
    }

    span.text.text-uppercase {
        font-size: 10px;
    }

    .content-text.sr-up-2 {
        width: auto;
        max-width: 75%;
        margin-bottom: 1rem;
        font-size: smaller;
    }

    .flex-container {
        margin-left: 3rem;
    }

    .flex-item img {
        width: 80%;
    }

    .swiper-slide-active .slide-b.slide-anim .s-title {
        margin-left: 5rem;
        font-size: 5rem;
        line-height: 1;
    }

    .s-text p {
        margin-left: 5rem;
    }

    .btn.btn-outline-a.bd-thick {
        margin-left: 5rem;
    }

    .btn.btn-outline-b.bd-thick {
        transform: translate(-10%, -10%);
    }
}

@media (min-width: 576px) {
    .section-header .h-content-family {
        margin-bottom: 2rem;
        margin-left: 4.5rem;
    }

    .flex-container {
        margin-left: 4rem;
    }

    .content-text.sr-up-2 {
        width: auto;
        max-width: 73%;
    }

    .header-home .h-title {
        margin-left: 5rem;
    }

    .section-header .h-content {
        transform: translate(-30%, -10%);
    }

    .btn.btn-outline-b.bd-thick {
        transform: translate(-5%, -10%);
    }
}

@media (min-width: 768px) {
    .header-home .h-title {
        margin-left: 9rem;
    }

    .section-header .h-content {
        transform: translate(-28%, -10%);
    }

    .header-home {
        padding: 5%;
    }

    .content-text.sr-up-2 {
        width: auto;
        max-width: 80%;
    }

    span.width-medium {
        font-size: 76px;
    }

    h2.h-title.font-title.sr-up-1 {
        font-size: 50px;
        letter-spacing: 2.22px;
        line-height: 51px;
    }

    .content-text.sr-up-2 {
        width: 39rem;
    }

    .btn.btn-outline-b.bd-thick {
        transform: translate(-5%, -10%);
    }
}

@media (min-width: 992px) {
    .navbar-sidebar {
        top: 40%;
    }

    .header-home {
        padding: 10%;
        margin-top: 5%;
    }

    .header-home .h-title {
        height: auto;
        width: 46rem;
        margin-left: 4rem;
    }

    h2.h-title.font-title.sr-up-1 {
        font-size: 65px;
        letter-spacing: 2.22px;
        line-height: 63px;
    }

    .section-header .h-content {
        transform: translate(-22%, -10%);
    }

    .content-text.sr-up-2 {
        width: auto;
        max-width: 80%;
    }

    .section-header .h-content-family {
        margin-bottom: 2rem;
        margin-left: 10rem;
    }

    .row.no-gutters.flex-full {
        margin-top: 10rem;
    }

    .width-medium {
        max-width: 52rem;
        width: 100%;
    }

    .flex-item {
        grid-row: 7;
        background: transparent;
        width: 104px;
        margin: 17px;
        line-height: 65px;
        font-weight: bold;
        font-size: 3em;
        text-align: center;
    }

    .flex-container {
        padding-bottom: 2rem;
    }

    .flex-item img {
        width: 100%;
    }

    .slide-b .content-bottom {
        align-items: baseline;
    }

    .btn.btn-outline-b.bd-thick {
        transform: translate(0%, -10%);
    }
}

@media (min-width: 1200px) {
    .section-header .h-content-family {
        margin-bottom: 2rem;
        margin-left: -1rem;
    }

    .flex-container {
        margin-left: -1.5rem;
    }

    .row.no-gutters.flex-full {
        padding-top: 9rem;
    }

    .header-home {
        padding: 10%;
        margin-top: 5%;
    }

    .header-home .h-title {
        height: auto;
        width: 46rem;
        margin-left: 4rem;
    }

    h2.h-title.font-title.sr-up-1 {
        font-size: 65px;
        letter-spacing: 2.22px;
        line-height: 63px;
    }

    .section-header .h-content {
        margin-left: 15rem;
    }

    .section-header .h-content {
        margin-bottom: 2rem;
    }

    .width-medium {
        max-width: 52rem;
        width: 100%;
    }

    .content-text.sr-up-2 {
        width: 55rem;
        margin-bottom: 2rem;
    }

    .btn.btn-outline-b.bd-thick {
        margin-left: 3.5rem;
    }

    .swiper-slide-active .slide-b.slide-anim .s-title {
        font-size: 6rem;
    }

    .flex-item {
        grid-row: 7;
        background: transparent;
        width: 104px;
        margin: 17px;
        line-height: 65px;
        font-weight: bold;
        font-size: 3em;
        text-align: center;
    }

    .flex-container {
        padding-bottom: 2rem;
    }

    .flex-item img {
        width: 100%;
    }

    .slide-b .content-bottom {
        align-items: baseline;
    }

    .section-header .h-content {
        transform: translate(-65%, -10%);
    }

    .content-text.sr-up-2 {
        width: auto;
        max-width: 100%;
    }

    .btn.btn-outline-b.bd-thick {
        transform: translate(-30%, -10%);
    }
}

@media (min-width: 1366px) {

    .navbar-sidebar {
        top: 40%;
    }

    .wrap3 {
        width: 100%;
        padding: 0px 5rem 5rem 10rem;
        height: 300px;
    }

    video.video {
        border: 5rem solid #fff;
        outline: none;
    }

    .row.no-gutters.flex-full {
        padding-top: 9rem;
    }

    .header-home {
        padding: 10%;
        margin-top: 5%;
    }

    .header-home .h-title {
        height: auto;
        width: 46rem;
        margin-left: 4rem;
    }

    h2.h-title.font-title.sr-up-1 {
        font-size: 65px;
        letter-spacing: 2.22px;
        line-height: 63px;
    }

    .section-header .h-content {
        margin-left: 20rem;
    }

    .section-header .h-content {
        margin-bottom: 2rem;
    }

    .width-medium {
        max-width: 52rem;
        width: 100%;
    }

    .content-text.sr-up-2 {
        width: 55rem;
        margin-bottom: 2rem;
    }

    .btn.btn-outline-b.bd-thick {
        margin-left: 3.5rem;
    }

    .flex-container {
        margin-left: -0.5rem;
    }

    .flex-container-personil {
        border-right: 15rem solid #fff;
        border-left: 17rem solid #fff;
    }

    .flex-container-product {
        border-right: 15rem solid #fff;
        border-left: 17rem solid #fff;
    }

    .flex-container-product figure {
        margin: 0rem -7rem 1rem 0rem;
        text-align: center;
    }

    figure.gallery__item-product img {
        max-width: 65%;
    }

    .swiper-slide-active .slide-b.slide-anim .s-title {
        font-size: 6rem;
    }

    .flex-item {
        grid-row: 7;
        background: transparent;
        width: 104px;
        margin: 17px;
        line-height: 65px;
        font-weight: bold;
        font-size: 3em;
        text-align: center;
    }

    .flex-container {
        padding-bottom: 2rem;
    }

    .flex-item img {
        width: 100%;
    }

    .slide-b .content-bottom {
        align-items: baseline;
    }

    .section-header .h-content {
        transform: translate(-75%, -10%);
    }

    .content-text.sr-up-2 {
        width: auto;
        max-width: 100%;
    }

    .btn.btn-outline-b.bd-thick {
        transform: translate(-25%, -10%);
    }
}

@media (min-width: 1600px) {
    .navbar-sidebar {
        top: 50%;
    }
}

/* @media (min-width: 768px) {

    .navbar-top .navbar-brand img {
        height: 50px;
    }

    span.text-brand {
        display: none;
    }

    .section {
        padding-left: 4rem;
        padding-right: 2rem;
    }

    span.logo {
        width: 85px;
        height: 86px;
    }

    .brand-title {
        visibility: hidden;
    }

    .width-medium {
        max-width: 55rem;
        width: 100%;
    }

    span.width-medium {
        font-size: 90px;
        font-weight: 700;
        letter-spacing: 7px;
        line-height: 108px;
        text-align: left;
    }

    .navbar-top {
        position: relative;
        z-index: 10;
        padding: 16px;
        background-color: #fff;
    }
    
    .header-home {
        padding-top: 0rem;
        padding-bottom: 5rem;
        background-repeat: no-repeat;
    }

    .header-home img{
        width: 100%;
        height: 100%;
    }

    .align-y-center {
        display: contents;
        justify-content: center;
        width: 100%;
    }

    span.width-medium {
        font-size: 60px;
        font-weight: 700;
        letter-spacing: -2px;
        line-height: 65px;
        text-align: left;
    }

    .header-home .h-title-big {
        font-size: 4.113rem;
        text-transform: uppercase;
        line-height: 1;
        padding-left: 5rem;
        width: 100%;
        height: auto;
    }
   
    span.text.t-upper.fs-normal.d-none.d-md-inline-block {
        visibility: hidden;
    }

    .content-text.sr-up-2 {
        color: #1E2134;
        font-family: SFProDisplay-light;
        font-size: 19px;
        font-weight: 300;
        letter-spacing: 1.97px;
        line-height: 29px;
        width: 675.06px;
        text-align: left;
        margin-bottom: 1rem;
    }

    h2.h-title.font-title.sr-up-1 {
        font-family: SFProDisplay;
        font-size: 60px;
        font-weight: 700;
        letter-spacing: 1.22px;
        line-height: 60px;
        text-align: left;
        text-transform: uppercase;
    }

    .section-cover {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../img/indo-768.png);
        background-size: 100%;
        bottom: 100px;
        background-repeat: no-repeat;
    }

    .btn.btn-outline-b.bd-thick {
        cursor: pointer;
        font-size: 1.2rem;
        border: 5px solid #E60B16;
    }

    .section-header .h-content {
        margin-bottom: 1rem;
        position: relative;
    }

    .flex-container {
        margin-bottom: 2rem;
        width: 100%;
    }

    .btn.btn-outline-a.bd-thick {
        width: 130px;
        text-align: left;
        border: 4px solid #fff;
        padding: 10px;
    }

    .btn.btn-outline-a.bd-thick span {
        color: #FFFFFF;
        font-family: SFProDisplay;
        font-size: 15px;
        font-weight: 900;
        letter-spacing: 2.58px;
        line-height: 29px;
    }

    .slide-b .flex-col {
        display: flex;
        flex-direction: column;
        padding-left: 15%;
    }

    .slide-text {
        color: #FFFFFF;
        font-family: SFProDisplay-light;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 6.22px;
        line-height: 25px;
        text-align: left;
        margin-bottom: 1rem;
    }

    .s-text p{
        margin-bottom: 2rem;
    }
}

@media (min-width: 1024px) {
 
    .brand-title {
        
        font-family: SFProDisplay;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.93px;
        line-height: 14px;
        text-align: left;
        text-transform: uppercase;
    }

    .header-home {
        padding-top: 0rem;
        padding-bottom: 5rem;
        background-repeat: no-repeat;
    }

    .header-home .h-title-big {
        font-size: 4.113rem;
        text-transform: uppercase;
        line-height: 1;
        text-align: left;
        padding-left: 1rem;
        width: 800px;
        height: 12rem;
    }
    
    .align-y-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0px;
        left: 0px;
        right: 0px;
        padding-bottom: 0px;
        width: 65rem;
        padding-top: 100px;
    }
    
    .width-large {
        max-width: 65rem;
        width: 100%;
    }

    .width-medium {
        max-width: 47rem;
        width: 100%;
    }
    
    img.straight-border {
        margin-left: -80vh;
        margin-top: -25vh;
    }
    
    h2.h-title.font-title.sr-up-1 {
        font-size: 80px;
        letter-spacing: 3.22px;
        line-height: 96px;
        text-align: left;
        text-transform: uppercase;
    }
    
    .bg-level-1 {
        background: #fff;
        padding-top: 135px;
        padding-bottom: 150px;
    }
    
    .section-cover {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../img/indonesia2.png);
        background-size: 100%;
        top: 25%;
        bottom: 100px;
    }
    
    span.text.text-uppercase-below-title {
        color: #E71822;
        font-family: SFProDisplay;
        font-size: 13px;
        font-weight: 900;
        letter-spacing: 1.4px;
        line-height: 16px;
        text-align: left;
    }
    
    .content-text.sr-up-2 {
        color: #1F2135;
        font-family: SFProDisplay-light;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 1.4px;
        line-height: 29px;
        width: 801px;
        text-align: left;
    }
    
    span.text.text-uppercase {
        color: #E71822;
        font-family: SFProDisplay;
        font-size: 13px;
        font-weight: 900;
        letter-spacing: 1.4px;
        line-height: 16px;
        text-align: left;
    }
    
    .flex-container {
        padding: 0;
        margin: 0;
        list-style: none;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        justify-content: left;
    }
    
    .flex-item {
        grid-row: 7;
        background: transparent;
        width: 130px;
        margin-top: 5px;
        line-height: 65px;
        color: white;
        font-weight: bold;
        font-size: 3em;
        text-align: center;
    }
    
    .section-page img {
        width: 75%;
    }
    
    h2.s-title.font-title {
        color: #FFFFFF;
        font-family: SFProDisplay;
        font-size: 80px;
        font-weight: 700;
        letter-spacing: 6.22px;
        line-height: 96px;
        text-align: left;
        text-transform: uppercase;
    }
    
    .slide-text {
        color: #FFFFFF;
        font-family: SFProDisplay-light;
        font-size: 36px;
        font-weight: 300;
        letter-spacing: 6.22px;
        line-height: 43px;
        text-align: left;
    }
    
    .slide-b .content-bottom {
        align-items: start;
    }
}

@media (min-width: 1280px) {
 
    .brand-title {
        
        font-family: SFProDisplay;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.93px;
        line-height: 14px;
        text-align: left;
        text-transform: uppercase;
    }

    .header-home {
        padding-top: 0rem;
        padding-bottom: 5rem;
        background-image: url(../img/laptop-1024.png);
        background-repeat: no-repeat;
        background-size: 90%;
    }

    .header-home .h-title-big {
        font-size: 5.113rem;
        text-transform: uppercase;
        line-height: 1;
        text-align: left;
        padding-left: 3rem;
        width: 800px;
        height: 15rem;
    }
    
    .align-y-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0px;
        left: 0px;
        right: 0px;
        padding-bottom: 0px;
        width: 65rem;
        padding-top: 100px;
    }
    
    .width-large {
        max-width: 65rem;
        width: 100%;
    }

    .width-medium {
        max-width: 47rem;
        width: 100%;
    }
    
    img.straight-border {
        margin-left: -80vh;
        margin-top: -25vh;
    }
    
    h2.h-title.font-title.sr-up-1 {
        font-family: sfprodisplay;
        font-size: 80px;
        letter-spacing: 3.22px;
        line-height: 96px;
        text-align: left;
        text-transform: uppercase;
    }
    
    .bg-level-1 {
        background: #fff;
        padding-top: 135px;
        padding-bottom: 150px;
    }
    
    .section-cover {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../img/indonesia2.png);
        background-size: 100%;
        top: 25%;
        bottom: 100px;
    }
    
    span.text.text-uppercase-below-title {
        color: #E71822;
        font-family: SFProDisplay;
        font-size: 13px;
        font-weight: 900;
        letter-spacing: 1.4px;
        line-height: 16px;
        text-align: left;
    }
    
    .content-text.sr-up-2 {
        color: #1F2135;
        font-family: SFProDisplay-light;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 1.4px;
        line-height: 29px;
        width: 801px;
        text-align: left;
    }
    
    span.text.text-uppercase {
        color: #E71822;
        font-family: SFProDisplay;
        font-size: 13px;
        font-weight: 900;
        letter-spacing: 1.4px;
        line-height: 16px;
        text-align: left;
    }
    
    .flex-container {
        padding: 0;
        margin: 0;
        list-style: none;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        justify-content: left;
    }
    
    .flex-item {
        grid-row: 7;
        background: transparent;
        width: 130px;
        margin-top: 5px;
        line-height: 65px;
        color: white;
        font-weight: bold;
        font-size: 3em;
        text-align: center;
    }
    
    .section-page img {
        width: 75%;
    }
    
    h2.s-title.font-title {
        color: #FFFFFF;
        font-family: SFProDisplay;
        font-size: 80px;
        font-weight: 700;
        letter-spacing: 6.22px;
        line-height: 96px;
        text-align: left;
        text-transform: uppercase;
    }
    
    .slide-text {
        color: #FFFFFF;
        font-family: SFProDisplay-light;
        font-size: 36px;
        font-weight: 300;
        letter-spacing: 6.22px;
        line-height: 43px;
        text-align: left;
    }
    
    .slide-b .content-bottom {
        align-items: start;
    }
}

@media (min-width: 1366px) {

    .section-header .h-content {
        padding-left: 6rem;
        right: 5.9rem;
    }

    .section-content {
        position: relative;
        z-index: 1;
        width: 85%;
        min-height: 100%;
    }
 
    .brand-title {
        
        font-family: SFProDisplay;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.93px;
        line-height: 14px;
        text-align: left;
        text-transform: uppercase;
    }

    .header-home {
        padding-top: 0rem;
        padding-bottom: 5rem;
        background-image: url(../img/laptop-1024.png);
        background-repeat: no-repeat;
        background-size: 90%;
    }

    .header-home .h-title-big {
        font-size: 5.113rem;
        text-transform: uppercase;
        line-height: 1;
        text-align: left;
        padding-left: 3rem;
        width: 800px;
        height: 15rem;
    }
    
    .align-y-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0px;
        left: 0px;
        right: 0px;
        padding-bottom: 0px;
        width: 65rem;
        padding-top: 100px;
    }
    
    .width-large {
        max-width: 65rem;
        width: 100%;
    }

    .width-medium {
        max-width: 40rem;
        width: 100%;
    }
    
    img.straight-border {
        margin-left: -80vh;
        margin-top: -25vh;
    }
    
    h2.h-title.font-title.sr-up-1 {
        font-family: sfprodisplay;
        font-size: 80px;
        letter-spacing: 3.22px;
        line-height: 96px;
        text-align: left;
        text-transform: uppercase;
    }
    
    .bg-level-1 {
        background: #fff;
        padding-top: 135px;
        padding-bottom: 150px;
    }
    
    .section-cover {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../img/indonesia2.png);
        background-size: 100%;
        top: 25%;
        bottom: 100px;
    }
    
    span.text.text-uppercase-below-title {
        color: #E71822;
        font-family: SFProDisplay;
        font-size: 13px;
        font-weight: 900;
        letter-spacing: 1.4px;
        line-height: 16px;
        text-align: left;
    }
    
    .content-text.sr-up-2 {
        color: #1F2135;
        font-family: SFProDisplay-light;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 1.4px;
        line-height: 29px;
        width: 801px;
        text-align: left;
    }
    
    span.text.text-uppercase {
        color: #E71822;
        font-family: SFProDisplay;
        font-size: 13px;
        font-weight: 900;
        letter-spacing: 1.4px;
        line-height: 16px;
        text-align: left;
    }
    
    .flex-container {
        padding: 0;
        margin: 0;
        list-style: none;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        justify-content: left;
        width: 60rem;
    }
    
    .flex-item {
        grid-row: 7;
        background: transparent;
        width: 130px;
        margin-top: 5px;
        line-height: 65px;
        color: white;
        font-weight: bold;
        font-size: 3em;
        text-align: center;
    }
    
    .section-page img {
        width: 75%;
    }
    
    h2.s-title.font-title {
        color: #FFFFFF;
        font-family: SFProDisplay;
        font-size: 80px;
        font-weight: 700;
        letter-spacing: 6.22px;
        line-height: 96px;
        text-align: left;
        text-transform: uppercase;
    }
    
    .slide-text {
        color: #FFFFFF;
        font-family: SFProDisplay-light;
        font-size: 36px;
        font-weight: 300;
        letter-spacing: 6.22px;
        line-height: 43px;
        text-align: left;
    }
    
    .slide-b .content-bottom {
        align-items: start;
        left: 5rem;
    }
}

@media (min-width: 1440px) {

    .section-header .h-content {
        padding-left: 0rem;
        right: 9rem;
    }

    .section-content {
        position: relative;
        z-index: 1;
        width: 78%;
        min-height: 100%;
    }
 
    .brand-title {
        
        font-family: SFProDisplay;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.93px;
        line-height: 14px;
        text-align: left;
        text-transform: uppercase;
    }

    .header-home {
        padding-top: 0rem;
        padding-bottom: 5rem;
        background-image: url(../img/laptop-1024.png);
        background-repeat: no-repeat;
        background-size: 90%;
    }

    .header-home .h-title-big {
        font-size: 5.113rem;
        text-transform: uppercase;
        line-height: 1;
        text-align: left;
        padding-left: 3rem;
        width: 800px;
        height: 15rem;
    }
    
    .align-y-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0px;
        left: 0px;
        right: 0px;
        padding-bottom: 0px;
        width: 65rem;
        padding-top: 100px;
    }
    
    .width-large {
        max-width: 65rem;
        width: 100%;
    }

    .width-medium {
        max-width: 37rem;
        width: 100%;
    }
    
    img.straight-border {
        margin-left: -80vh;
        margin-top: -25vh;
    }
    
    h2.h-title.font-title.sr-up-1 {
        font-family: sfprodisplay;
        font-size: 80px;
        letter-spacing: 3.22px;
        line-height: 96px;
        text-align: left;
        text-transform: uppercase;
    }
    
    .bg-level-1 {
        background: #fff;
        padding-top: 135px;
        padding-bottom: 150px;
    }
    
    .section-cover {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../img/indonesia2.png);
        background-size: 100%;
        top: 25%;
        bottom: 100px;
    }
    
    span.text.text-uppercase-below-title {
        color: #E71822;
        font-family: SFProDisplay;
        font-size: 13px;
        font-weight: 900;
        letter-spacing: 1.4px;
        line-height: 16px;
        text-align: left;
    }
    
    .content-text.sr-up-2 {
        color: #1F2135;
        font-family: SFProDisplay-light;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 1.4px;
        line-height: 29px;
        width: 801px;
        text-align: left;
    }
    
    span.text.text-uppercase {
        color: #E71822;
        font-family: SFProDisplay;
        font-size: 13px;
        font-weight: 900;
        letter-spacing: 1.4px;
        line-height: 16px;
        text-align: left;
    }
    
    .flex-container {
        padding: 0;
        margin: 0;
        list-style: none;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        justify-content: left;
        width: 60rem;
    }
    
    .flex-item {
        grid-row: 7;
        background: transparent;
        width: 130px;
        margin-top: 5px;
        line-height: 65px;
        color: white;
        font-weight: bold;
        font-size: 3em;
        text-align: center;
    }
    
    .section-page img {
        width: 75%;
    }
    
    h2.s-title.font-title {
        color: #FFFFFF;
        font-family: SFProDisplay;
        font-size: 80px;
        font-weight: 700;
        letter-spacing: 6.22px;
        line-height: 96px;
        text-align: left;
        text-transform: uppercase;
    }
    
    .slide-text {
        color: #FFFFFF;
        font-family: SFProDisplay-light;
        font-size: 36px;
        font-weight: 300;
        letter-spacing: 6.22px;
        line-height: 43px;
        text-align: left;
    }
    
    .slide-b .content-bottom {
        align-items: start;
        left: 5rem;
    }
}

@media (min-width: 1600px) {

    .slide-b.fullscreen-slide {
        min-height: 110vh;
    }

    .section-header .h-content {
        padding-left: 0rem;
        right: 9rem;
    }

    .section-content {
        position: relative;
        z-index: 1;
        width: 78%;
        min-height: 100%;
    }
 
    .brand-title {
        
        font-family: SFProDisplay;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.93px;
        line-height: 14px;
        text-align: left;
        text-transform: uppercase;
    }

    .header-home {
        padding-top: 0rem;
        padding-bottom: 5rem;
        background-image: url(../img/laptop-1024.png);
        background-repeat: no-repeat;
        background-size: 90%;
    }

    .header-home .h-title-big {
        font-size: 5.15rem;
        text-transform: uppercase;
        line-height: 1;
        text-align: left;
        width: 800px;
        height: 15rem;
    }
    
    .align-y-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0px;
        left: 0px;
        right: 0px;
        padding-bottom: 0px;
        width: 82rem;
        padding-top: 100px;
    }
    
    .width-large {
        max-width: 65rem;
        width: 100%;
    }

    .width-medium {
        max-width: 37rem;
        width: 100%;
    }
    
    img.straight-border {
        margin-left: -80vh;
        margin-top: -25vh;
    }
    
    h2.h-title.font-title.sr-up-1 {
        font-family: sfprodisplay;
        font-size: 80px;
        letter-spacing: 3.22px;
        line-height: 96px;
        text-align: left;
        text-transform: uppercase;
    }
    
    .bg-level-1 {
        background: #fff;
        padding-top: 135px;
        padding-bottom: 150px;
    }
    
    .section-cover {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../img/indonesia2.png);
        background-size: 100%;
        top: 25%;
        bottom: 100px;
    }
    
    span.text.text-uppercase-below-title {
        color: #E71822;
        font-family: SFProDisplay;
        font-size: 13px;
        font-weight: 900;
        letter-spacing: 1.4px;
        line-height: 16px;
        text-align: left;
    }
    
    .content-text.sr-up-2 {
        color: #1F2135;
        font-family: SFProDisplay-light;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 1.4px;
        line-height: 29px;
        width: 801px;
        text-align: left;
    }
    
    span.text.text-uppercase {
        color: #E71822;
        font-family: SFProDisplay;
        font-size: 13px;
        font-weight: 900;
        letter-spacing: 1.4px;
        line-height: 16px;
        text-align: left;
    }
    
    .flex-container {
        padding: 0;
        margin: 0;
        list-style: none;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        justify-content: left;
        width: 60rem;
    }
    
    .flex-item {
        grid-row: 7;
        background: transparent;
        width: 130px;
        margin-top: 5px;
        line-height: 65px;
        color: white;
        font-weight: bold;
        font-size: 3em;
        text-align: center;
    }
    
    .section-page img {
        width: 75%;
    }
    
    h2.s-title.font-title {
        color: #FFFFFF;
        font-family: SFProDisplay;
        font-size: 80px;
        font-weight: 700;
        letter-spacing: 6.22px;
        line-height: 96px;
        text-align: left;
        text-transform: uppercase;
    }
    
    .slide-text {
        color: #FFFFFF;
        font-family: SFProDisplay-light;
        font-size: 36px;
        font-weight: 300;
        letter-spacing: 6.22px;
        line-height: 43px;
        text-align: left;
    }
    
    .slide-b .content-bottom {
        align-items: start;
        left: 5rem;
    }
} */